@font-face {
    font-family: Caveat;
    src: url(./Handlee-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100svw;
    min-height: 100svh;
    gap: 20px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,117,255,1) 100%);
}
.hamburger {
    display: grid;
    row-gap: 4px;
    position: absolute;
    top: .5rem;
    left: .75rem;
}
.hamburger .burgerline {
    display: block;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: .3s ease-in-out;
}
.hamburger .burgerline:nth-child(1) {
    width: 1.5rem;
}
.hamburger.active .burgerline:nth-child(1) {
    width: .75rem;
}
.hamburger .burgerline:nth-child(2) {
    width: .75rem;
}
.hamburger.active .burgerline:nth-child(2) {
    width: 1rem;
}
.hamburger .burgerline:nth-child(3) {
    width: 1rem;
}
.hamburger.active .burgerline:nth-child(3) {
    width: 1.5rem;
}
#textBox {
    scroll-behavior: smooth;
    padding-inline: 1rem;
    padding-block: 1.5rem;
    font-size: 20px;
    border: 2px solid #FF7100;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    outline: none;
    font-family: Caveat;
    font-size: 1.5rem;
    resize: none;
    box-shadow: 0 0 5px #C9C9C9;
    transition: 0.3s ease-in-out;
    background-color: transparent !important;
    color: #fff;
}
#textBox:focus {
    border: 3px solid #6FD3FF;
    box-shadow: 0 0 5px #BDECFF;
}
.funcBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
}
.funcBtn {
    padding-inline: .775rem;
    padding-block: .4rem;
    border-radius: 7px;
    color: #292929;
    font-size: 1rem;
    font-family: Caveat;
    outline: none;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #7E2CE9;
    color: #fff;
    font-weight: 600;
}
.funcBtn:hover {
    background-color: rgba(255,39,147,.67);
    color: #000;
    box-shadow: 0 0 5px #BDECFF;
}
#myFile {
    display: none;
}
.fileLabel {
    font-size: 1.5rem;
}
.fileLabelText {
    font-size: 1rem;
    font-family: Caveat;
}
.labelFile {
    color: #fff;
    margin-top: 15px;
    padding: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255,39,147,.67);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.labelFile:hover {
    box-shadow: 4px 4px 10px rgba(255,255,255,0.5),-4px 4px 10px rgba(255,255,255,0.5),4px -4px 10px rgba(255,255,255,0.5),-4px -4px 10px rgba(255,255,255,0.5);
}
