<style type="text/css" media="all">
html {
    scroll-behavior: smooth;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    gap: 10px;
    background-image: radial-gradient(#00B7FF,#00FF6C,#B4FF00);
}
#textBox {
    scroll-behavior: smooth;
    padding: 4px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    height: 600px;
    width: 500px;
    outline: none;
    font-family: Times New Roman cursive;
    font-size: 1.5rem;
    resize: none;
    box-shadow: 0 0 5px #C9C9C9;
    transition: 0.3s ease-in-out;
}
#textBox:focus {
    border: 3px solid #6FD3FF;
    background-color: #EBEBEB;
    box-shadow: 0 0 5px #BDECFF;
}
.funcBtn {
    background-color: #00FFF2;
    padding: 3px;
    border-radius: 5px;
    color: #292929;
    font-size: 2rem;
    font-family: Times New Roman cursive;
    outline: none;
    border: 1px solid #A500FF;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.funcBtn:hover {
    background-color: #79C8DC;
    color: #000;
}
#myFile{
    display: none;
}
.fileLabel{
    font-size: 2.5rem;
}
.fileLabelText{
    font-size: 1.5rem;
    font-family: Times New Roman cursive;
}
.labelFile{
    margin-top: 15px;
    padding:5px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #E900FF;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.labelFile:hover{
    box-shadow: 4px 4px 10px rgba(255,255,255,0.5),-4px 4px 10px rgba(255,255,255,0.5),4px -4px 10px rgba(255,255,255,0.5),-4px -4px 10px rgba(255,255,255,0.5);
}